/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : 12-oct-2016, 14:33:38
    Author     : sebas

.theme {
    master-color:#1de9b6;    
    -fx-background-color: #1d1d1d;
    -fx-font-size: 14px;
}
.split-pane {
    -fx-padding: 0;
    -fx-border-width:0;
     
    
     //-fx-background-color: derive(master-color, 100%);

   
    -fx-padding: 1 0 0 0;
}


.darkList {
    -fx-background-color:#64ffda;
}
.darkList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -150%);
    -fx-text-fill: lightgrey;
}
.darkList .list-cell:focused {
    -fx-text-fill:    bisque;
}
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "roboto";
    -fx-padding: 1 6 8 8;
}


        
/*  //-fx-background-color:#1d1d1d;
         // -fx-font-family: "roboto";
    -fx-text-fill: #d50000;

  
    -fx-text-fill: black  ;

}}*/
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "roboto", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #cfd8dc;
    -fx-font-family: "roboto", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color:#607d8b;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #cfd8dc ;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-area {
    -fx-padding: 10;
}
.cerrar{

    -fx-background-color:#1d1d1d;
    -fx-text-fill: #d50000;



}
.cerrar:hover{
    -fx-text-fill:#212121;

}


.personal{
    -fx-text-fill:#212121;
    -fx-font-size: 40pt;
}

.personalINsertar{
    -fx-text-fill:#212121;
    -fx-font-size: 20pt;
    -fx-font-family:serif;
}
.Requierew{
    -fx-text-fill:red;

}
.labelGRA {
    -fx-font-size: 18pt;
}